body {
  font-family: "GillSans-Light";
}

pre {
  line-height: 130%
}

h4 {
  font-size: 35px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 55px;
}

h2 {
  font-size: 70px;
}

h1 {
  font-size: 90px;
}

li {
  font-size: 55px;
}

a {
  color: black;
}

.smallest {
  font-size: 50%;
}

.smallish {
  font-size: 60%;
}

.tiny {
  font-size: 30%;
}

p.caption {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  font-style: italic;
  font-size: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#footer {
  display: none;
}
